<div class="todos">
  <input
    [routerLink]="['/lista']"
    type="submit"
    value="Lista zadań"
    class="todo-submit"
  />
  <form (submit)="addTodo()">
    <input type="submit" value="Dodaj zadanie" class="todo-submit" />

    <input type="submit" value="Podgląd zadania" class="todo-submit" />
    <input
      type="text"
      name="inputTodo"
      placeholder="Wprowadź zadanie..."
      class="todo-input"
      [(ngModel)]="inputTodo"
    />
  </form>
  <!-- <div
    *ngFor="let todo of todos; let i = index"
    class="todo {{ todo.completed ? 'done' : '' }}"
  >
    <div class="id">{{ i }}</div>
    <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
    <button class="delete" (click)="deleteTodo(i)">USUŃ</button>
  </div> -->
</div>
